h1 {
    text-align: left;
    font-family: 'Arimo';
    font-style: normal;
    font-weight: 400;
    font-display: swap;
    src: url(https://fonts.gstatic.com/s/arimo/v24/P5sMzZCDf9_T_10UxCFuj5-v6dg.woff2) format('woff2');
    unicode-range: U+0460-052F, U+1C80-1C88, U+20B4, U+2DE0-2DFF, U+A640-A69F, U+FE2E-FE2F;
}

p {
  font-family: 'Arimo';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  font-size: 10px;
  src: url(https://fonts.gstatic.com/s/arimo/v24/P5sMzZCDf9_T_10UxCFuj5-v6dg.woff2) format('woff2');
  unicode-range: U+0460-052F, U+1C80-1C88, U+20B4, U+2DE0-2DFF, U+A640-A69F, U+FE2E-FE2F;
}

img {
  margin-top: 30px;
  margin-left: 50px;
  width:100%;
  max-width: 400px;
}

.images {
  margin-left: 1rem;
  margin-top: 2.75rem;  

}

.header-title-text {
  font-size: 0.75rem;
  letter-spacing:0em;
  float: left;
  margin-left: 37.5rem;
  margin-right: auto;
  margin-top: -3.15rem;
  color: #131313;
  position:relative; 
  font-weight: lighter;
}

.assignment1-title-text {
  font-size: 1.rem;
  letter-spacing:0em;
  float: left;
  margin-left: 33rem;
  margin-right: auto;
  margin-top: 4rem;
  color: #131313;
  position:relative; 
}

.assignment1-body-text {
  font-size: 1.4rem;
  letter-spacing:0em;
  float: left;
  margin-left: 20rem;
  margin-right:20rem;
  margin-top: 4rem;
  color: #131313;
  position:relative; 
}

.assignment1-image-alignment {
  margin-top: 12rem;
  margin-left: 6.5rem;
  width:100%;
  max-width: 400px;
}

.textAlignment2 {
  font-size: 1.4rem;
  letter-spacing:0em;
  float: left;
  margin-left: 23rem;
  margin-right: auto;
  margin-top: 10rem;
  color: #131313;
  position:relative; 
  font-weight: lighter;
}

.aboutDescription {
  font-size:1rem;
}

.videoWrapper {
  position: relative;
  text-align: center;
}

.nav {
  margin-left: -65rem;
  margin-top: 1.25rem;
  height: 50px;
  width: 100%;
  background-color: transparent;
  position: relative;
}

.nav > .nav-header {
  display: inline;
}

.nav > .nav-header > .nav-title {
  display: inline-block;
  font-size: 22px;
  color: #fff;
  padding: 10px 10px 10px 10px;
}

.nav > .nav-btn {
  display: none;
}

.nav > .nav-links {
    text-align: left;
    font-family: 'Arimo';
    font-style: normal;
    font-weight: 400;
    font-display: swap;
    src: url(https://fonts.gstatic.com/s/arimo/v24/P5sMzZCDf9_T_10UxCFuj5-v6dg.woff2) format('woff2');
    unicode-range: U+0460-052F, U+1C80-1C88, U+20B4, U+2DE0-2DFF, U+A640-A69F, U+FE2E-FE2F;
    display: inline;
    float: right;
    font-size: 16px;
    margin-top:2rem;
}

.nav > .nav-links > a {
  display: inline-block;
  padding: 13px 10px 13px 10px;
  text-decoration: none;
  color: #515151;
  /* work/p5js/about color */
}

.nav > .nav-links > a:hover {
  text-decoration: underline;
}

.nav > #nav-check {
  display: none;
}

@media (max-width:600px) {
  .nav > .nav-btn {
    display: inline-block;
    position: absolute;
    right: 0px;
    top: 0px;
  }
  .nav > .nav-btn > label {
    display: inline-block;
    width: 50px;
    height: 50px;
    padding: 13px;
  }
  .nav > .nav-btn > label:hover,.nav  #nav-check:checked ~ .nav-btn > label {
    background-color: rgba(0, 0, 0, 0.3);
  }
  .nav > .nav-btn > label > span {
    display: block;
    width: 25px;
    height: 10px;
    border-top: 2px solid #ffffff;
  }
  .nav > .nav-links {
    position: absolute;
    display: block;
    width: 100%;
    background-color: #ffffff;
    height: 0px;
    transition: all 0.3s ease-in;
    overflow-y: hidden;
    top: 50px;
    left: 0px;
  }
  .nav > .nav-links > a {
    display: block;
    width: 100%;
  }
  .nav > #nav-check:not(:checked) ~ .nav-links {
    height: 0px;
  }
  .nav > #nav-check:checked ~ .nav-links {
    height: calc(100vh - 50px);
    overflow-y: auto;
  }
}

.assignment {
  margin-left: 5rem;
  margin-top: 2rem;
  height: 50px;
  width: 100%;
  background-color: transparent;
  ;
  position: relative;
}





